# Created by https://www.toptal.com/developers/gitignore/api/leiningen
# Edit at https://www.toptal.com/developers/gitignore?templates=leiningen

### Leiningen ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.ini
# End of https://www.toptal.com/developers/gitignore/api/leiningen
